body {
    background-color: olive;
}
#header {
    padding: 25px;
}

.name {
    width: fit-content;
    padding-left: 30px;
}

#navbarNav {
    justify-content: flex-end;
}

.navbar-brand, .title {
    font-size: 45px;
    font-weight: bold;
}

.nav-link {
    font-size: 25px;
}

.row {
    display: flex;
}

.workContainer {
    width: 600px;
    height: 620px;
}

/* .card-img-top {
    min-width: fit-content;
    min-height: fit-content;
    justify-content: center;
} */

.workHeading {
    display: flex;
    justify-content: center;
}

.work {
    margin-bottom: 50px;
}

.contactme {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    /* flex-direction: row; */
}

.contactme ul {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.title {
    width: 25%;
}
a {
    color: rgb(67, 65, 65);
}