body {
    background-color: rgb(137, 137, 126);
}
#header {
    padding: 25px;
}

h2 {
    font-size: 40px;
    font-weight: 300;
}

.name {
    width: fit-content;
    padding-left: 30px;
}

#navbarNav {
    justify-content: flex-end;
}

.navbar-brand {
    font-size: 45px;
    font-weight: bold;
}

.nav-link {
    font-size: 25px;
}

.row {
    display: flex;
}

.workContainer {
    width: 600px;
    height: 620px;
}

/* .card-img-top {
    min-width: fit-content;
    min-height: fit-content;
    justify-content: center;
} */

.sectionHeading {
    display: flex;
    justify-content: center;
}


.contactme {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.contactme {
    display: flex;
    font-size: 25px;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.title {
    width: 50%;
}

a {
    color: rgb(67, 65, 65);
}

.workSampleContainer {
    padding: 30px;
}

.container {
    width: 60%;
    margin-right: auto;
    display: flex;
}

